aiofiles==23.1.0
amqp==5.1.1
anyio==3.6.2
argcomplete==3.0.5
asgiref==3.7.2
async-timeout==4.0.3
attrs==22.2.0
awscli==1.22.34
billiard==4.1.0
blinker==1.7.0
boto3==1.26.108
botocore==1.29.108
Brotli==1.0.9
cachetools==5.3.0
celery==5.3.4
celery-progress==0.3
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==3.1.0
clarabel==0.6.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.4
command-not-found==0.3
contourpy==1.0.7
cryptography==3.4.8
cvxpy==1.4.1
cycler==0.11.0
dacite==1.7.0
dbus-python==1.2.18
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.7
distro==1.7.0
distro-info==1.0
dj-database-url==2.1.0
Django==4.2.6
django-celery-results==2.5.1
django-heroku==0.3.1
django-storages==1.14.2
dnspython==2.3.0
docutils==0.17.1
ecos==2.0.12
eventlet==0.33.3
fiftyone==0.20.1
fiftyone-brain==0.11.0
fiftyone-db==0.4.0
filelock==3.13.1
Flask==3.0.1
fonttools==4.39.3
ftfy==6.1.1
future==0.18.3
glob2==0.7
graphql-core==3.2.3
greenlet==2.0.2
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httplib2==0.20.2
httpx==0.23.3
hypercorn==0.14.3
hyperframe==6.0.1
idna==3.4
imageio==2.27.0
importlib-metadata==4.6.4
inflate64==0.3.1
ipython_genutils==0.2.0
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonlines==3.1.0
jupyter-core==4.9.1
kaleido==0.2.1
keyring==23.5.0
kiwisolver==1.4.4
kombu==5.3.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.2
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.1.2
matplotlib==3.7.1
mongoengine==0.24.2
more-itertools==8.10.0
motor==3.1.2
multivolumefile==0.2.3
mysqlclient==2.2.0
netifaces==0.11.0
networkx==3.1
numpy==1.24.2
oauthlib==3.2.0
olefile==0.46
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
osqp==0.6.3
packaging==23.0
pandas==2.0.0
Pillow==9.5.0
platformdirs==4.1.0
plotly==5.14.1
pprintpp==0.4.0
priority==2.0.0
prompt-toolkit==3.0.39
psutil==5.9.4
psycopg2==2.9.9
psycopg2-binary==2.9.9
PuLP==2.7.0
py7zr==0.20.4
pyasn1==0.4.8
pybcj==1.0.1
pybind11==2.11.1
pycairo==1.20.1
pycryptodomex==3.17
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pymongo==4.3.3
pyparsing==2.4.7
pyppmd==1.0.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyufw==0.0.3
PyWavelets==1.4.1
PyYAML==6.0.1
pyzstd==0.15.6
qdldl==0.1.7.post0
rait @ file:///mnt/c/Users/lolababa02/OneDrive/Programming/Georgia_Tech/TA_RAIT/projects/student_env_setup/provided_to_students/rait
rarfile==4.0
redis==5.0.1
regex==2023.3.23
requests==2.28.2
retrying==1.3.4
rfc3986==1.5.0
roman==3.3
rsa==4.8
s3transfer==0.6.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
scs==3.2.4.post1
SecretStorage==3.3.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
sse-starlette==0.10.3
sseclient-py==1.7.2
starlette==0.20.4
strawberry-graphql==0.138.1
systemd-python==234
tabulate==0.9.0
tenacity==8.2.2
texttable==1.6.7
threadpoolctl==3.1.0
tifffile==2023.3.21
toml==0.10.2
traitlets==5.1.1
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
universal-analytics-python3==1.1.1
urllib3==1.26.15
vine==5.0.0
virtualenv==20.25.0
voxel51-eta==0.9.0
wadllib==1.3.6
wcwidth==0.2.6
Werkzeug==3.0.1
whitenoise==6.6.0
wrapt==1.15.0
wsproto==1.2.0
xmltodict==0.13.0
zipp==1.0.0
