<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}main{% endblock %}</title>
        <link rel="stylesheet" href="../static/css/hopscotch.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
      <div class="about">
        <button class="aboutbtn">About Project</button>
        <div class="about-content">
          <p>A Demo of a created python project
          </p>
        </div>
      </div>
      
      <button id="back_to_main"><a href="https://www.sopelanlehin.com/">Return to Main Page</a></button>
      <div class="mainpage">
        <h1 id="heading">Kalman Filter Course Project Demo</h1>
        <div class="container">
          <video autoplay loop muted playsinline controls="controls" preload="preload" controls>
            <source src="../static/videos/test_case_20.mp4" type="video/mp4">
          </video>
        </div>
      </div>
  </body>
</html>

 